@import url("~bootstrap/dist/css/bootstrap.css");


/* TODO */
.container{
  background-color: grey;
}

.box{
  float: left;
  width: 100px;
  height: 100px;
}

.red{background-color: red;}
.blue{background-color: blue;}